* {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box;
}
body {
	margin: 0px; padding: 0px; font-family: helvetica,arial,sans-serif; font-size: 1em; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; text-size-adjust: none;
}
.bk-float-left {
	margin-right: 7px; float: left;
}
.bk-float-right {
	margin-left: 7px; float: right;
}
img.bk {
	height: auto; max-width: 100%;
}
img.bk-inline {
	height: auto; vertical-align: middle; max-width: 100%;
}
img.bk-icon {
	width: 30px; height: 30px; margin-right: 2px; vertical-align: middle;
}
a {
	-ms-word-wrap: break-word;
}
a img {
	border: 0px currentColor; border-image: none;
}
.bk-link-icon {
	background-position: 100% 50%; padding-right: 26px; text-decoration: none; display: inline-block; background-repeat: no-repeat;
}
.bk-link-icon-left {
	background-position: 0px 50%; padding-left: 26px; text-decoration: none; display: inline-block; background-repeat: no-repeat;
}
#bk-main-loader {
	width: 100%; display: table;
}
#bk-main-loader div {
	text-align: center; vertical-align: middle; display: table-cell;
}
#bk-header {
	background-color: rgb(255, 255, 255);
}
#bk-footer {
	background-color: rgb(255, 255, 255);
}
#bk-body {
	margin: 0px; padding: 0px;
}
.bk-dv {
	padding: 7px 14px; background-repeat: repeat-x;
}
.bk-p {
	margin: 0px; padding: 7px 14px; background-repeat: repeat-x;
}
hr.bk {
	border: 0px currentColor; border-image: none; height: 1px; margin-top: 2px; margin-bottom: 2px;
}
.bk-hx {
	margin: 0px; padding: 7px 14px; font-size: 1em; font-weight: normal; background-repeat: repeat-x;
}
.bk-hx img.bk {
	vertical-align: middle;
}
table.bk {
	margin: 0px; width: 100%; border-collapse: collapse;
}
td.bk {
	padding: 1px; vertical-align: middle;
}
th.bk {
	padding: 1px; font-weight: bold; vertical-align: middle;
}
ul {
	list-style: none; margin: 0px; padding: 0px; background-repeat: repeat-x;
}
li {
	background-repeat: repeat-x;
}
.bk li {
	padding: 7px 14px;
}
.bk-clr {
	clear: both;
}
#bk-stat {
	height: 0px; overflow: hidden;
}
video.bk-video {
	max-width: 100%;
}
th.bk {
	cursor: pointer;
}
body {
	font-size: 16px;
}
td {
	font-size: 16px;
}
input {
	font-size: 16px;
}
select {
	font-size: 16px;
}
textarea {
	font-size: 16px;
}
div.bkCal {
	width: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
table.bkCal td {
	margin: 0px; padding: 0px; text-align: center; vertical-align: middle;
}
table.bkCal th {
	border-width: 1px 1px 2px; border-style: solid; padding: 0px;
}
div.bkCalHead ul {
	margin: 0px; padding: 0px;
}
div.bkCalHead li {
	margin: 0px; padding: 0px;
}
ul.bkCalTitle {
	width: 100%; display: table;
}
ul.bkCalMonth {
	width: 100%; display: table;
}
ul.bkCalTitle li {
	text-align: center; vertical-align: middle; display: table-cell;
}
ul.bkCalMonth li {
	text-align: center; vertical-align: middle; display: table-cell;
}
input.bkCalBtn {
	background-position: 100% 50%; background-repeat: no-repeat;
}
table.bkCal {
	width: 301px; margin-right: auto; margin-left: auto; border-spacing: 0;
}
div.bkCalHead {
	width: 301px; margin-right: auto; margin-left: auto; border-spacing: 0;
}
li.bkCalClose {
	background-position: 50% 50%; width: 42px; height: 42px; font-size: 2em; background-repeat: no-repeat;
}
li.bkCalMonthNavPrev {
	background-position: 50% 50%; width: 42px; height: 42px; font-size: 2em; background-repeat: no-repeat;
}
li.bkCalMonthNavNext {
	background-position: 50% 50%; width: 42px; height: 42px; font-size: 2em; background-repeat: no-repeat;
}
ul.bkCalTitle li.bkCalTitle {
	width: 259px; line-height: 42px; overflow: hidden; padding-left: 42px; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
table.bkCal tbody td {
	width: 43px; height: 42px;
}
form {
	margin: 0px; display: block;
}
.bk-form {
	background-repeat: repeat-x;
}
.bk-i {
	font: inherit; padding: 4px 2px; border-radius: 5px; border: 1px solid rgb(153, 153, 153); border-image: none; font-size-adjust: inherit; font-stretch: inherit; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px;
}
select {
	font: inherit; padding: 4px 2px; border-radius: 5px; border: 1px solid rgb(153, 153, 153); border-image: none; font-size-adjust: inherit; font-stretch: inherit; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px;
}
.bk-i-btn {
	cursor: pointer;
}
select {
	color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
}
textarea {
	font: inherit; display: block; font-size-adjust: inherit; font-stretch: inherit;
}
.bk-fill-parent {
	width: 100%;
}
select.bk-fill-parent {
	width: 100%;
}
.bk-inputmail {
	width: 40%;
}
.bk-two-columns {
	width: 100%; display: table;
}
.bk-two-columns .bk-fieldset {
	display: table-row;
}
.bk-two-columns label.bk-cell {
	padding: 7px 7px 7px 14px; text-align: right; display: table-cell;
}
.bk-two-columns span.bk-cell {
	padding: 7px 14px 7px 7px; display: table-cell;
}
.bk-navbar {
	background: -ms-linear-gradient(rgb(175, 187, 203) 0px, rgb(139, 157, 181) 50%, rgb(129, 149, 175) 51%, rgb(110, 134, 164) 100%); width: 100%; border-top-color: rgb(205, 213, 223); border-bottom-color: rgb(45, 54, 66); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: block; position: relative;
}
.bk-navbar .bk-hx {
	font: bold 18px/42px Helvetica, Sans-serif; margin: 0px; padding: 0px 5px; height: 42px; text-align: center; color: white; overflow: hidden; display: block; white-space: nowrap; -ms-text-overflow: ellipsis; font-size-adjust: none; font-stretch: normal; text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.bk-tabbar {
	border-top-color: rgb(84, 84, 84); border-top-width: 1px; border-top-style: solid; display: block; background-image: -ms-linear-gradient(rgb(66, 66, 66) 0px, rgb(0, 0, 0) 100%); background-color: rgb(0, 0, 0);
}
.bk-tabbar ul {
	width: 100%; display: table;
}
.bk-tabbar ul li {
	padding: 2px; display: table-cell;
}
.bk-tabbar ul li a {
	width: 100%; text-align: center; color: rgb(204, 204, 204); overflow: hidden; font-size: 10px; font-weight: bold; text-decoration: none; display: block;
}
.bk-tabbar ul li a img {
	width: 30px; height: 30px;
}
.bk-tabbar ul li.bk-active a {
	border-radius: 5px; color: white; background-image: -ms-linear-gradient(rgb(71, 71, 71) 0px, rgb(54, 54, 54) 50%, rgb(37, 37, 37) 51%, rgb(33, 33, 33) 100%); background-color: rgb(71, 71, 71); -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px;
}
.bk-fixed#bk-header {
	left: 0px; top: 0px; width: 100%; position: fixed; z-index: 3;
}
.bk-fixed#bk-footer {
	left: 0px; width: 100%; bottom: 0px; position: fixed; z-index: 2;
}
.bk-navlink {
	padding: 2px 0px; background-repeat: repeat-x;
}
table.bk-navlink {
	margin: 0px; width: 100%; border-collapse: collapse;
}
td.bk-half {
	width: 50%;
}
td.bk-navlink {
	margin: 0px; vertical-align: top;
}
.bk-navlink a {
	padding-top: 10px; padding-bottom: 10px; text-decoration: none; display: block;
}
.bk-tabs li {
	padding: 0px; line-height: 30px; vertical-align: bottom; display: inline;
}
.bk-tabs a {
	text-decoration: none; vertical-align: bottom; display: inline-block;
}
.bk-tabs img {
	vertical-align: bottom;
}
.bk-tabs a img.bk-icon {
	margin-right: 2px; vertical-align: middle;
}
ul.bk-headline a {
	display: block;
}
.bk-headline a {
	padding-top: 7px; padding-bottom: 7px; padding-left: 14px;
}
.bk-gallery {
	padding: 7px 14px;
}
.bk-gallery img {
	max-width: 100%;
}
.bk-gallery a {
	text-decoration: none; display: block;
}
.bk-gallery table {
	margin: 0px; width: 100%; border-collapse: collapse; table-layout: fixed;
}
td.bk-gallery-2 {
	width: 50%; text-align: center;
}
td.bk-gallery-3 {
	width: 33%; text-align: center;
}
.bk-link-list a {
	padding-top: 12px; padding-bottom: 12px; padding-left: 14px; display: block; min-width: 40px;
}
.bk-link-list a.bk-icon {
	padding-left: 52px; position: relative;
}
.bk-link-list img.bk-icon {
	left: 14px; top: 6px; position: absolute;
}
#asidewrapper {
	display: block; position: relative;
}
#bk-aside-content-wrapper {
	display: block;
}
#bk-aside-content {
	display: block;
}
#asidemenu {
	display: block;
}
[data-bk-scrollable='true']#asidemenu {
	overflow: hidden; -ms-touch-action: none;
}
#bk-aside-glass {
	left: 260px; top: 0px; width: 100%; position: absolute; z-index: 1; background-color: rgba(0, 0, 0, 0);
}
#asidescroller {
	-ms-text-size-adjust: none; -ms-user-select: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; -o-text-size-adjust: none;
}
@media screen and (min-width:1024px)
{
*[data-bk-role=slide-menu-button] {
	display: none !important;
}
#bk-aside-content-wrapper {
	left: 260px; top: 0px; right: 0px; position: absolute;
}
#asidemenu {
	width: 260px; position: absolute;
}
#bk-aside-content {
	transition:transform ease-in-out !important; transform: translate3d(0px, 0px, 0px); -webkit-transition: -webkit-transform 0s ease-in-out; -o-transition: -o-transform 0s ease-in-out; -webkit-transform: translate3d(0, 0, 0);
}
#asidemenu {
	transition:transform ease-in-out !important; transform: translate3d(0px, 0px, 0px); -webkit-transition: -webkit-transform 0s ease-in-out; -o-transition: -o-transform 0s ease-in-out; -webkit-transform: translate3d(0, 0, 0);
}
.asidemenudefaultopened ~ #bk-aside-glass {
	display: none;
}
}
@media screen and (max-width:1023px)
{
#asidewrapper {
	overflow: hidden;
}
#asidemenu {
	left: -260px; width: 260px; position: absolute; z-index: 2;
}
#bk-aside-content-wrapper {
	left: 0px; overflow: hidden; margin-left: 0px !important; position: relative; z-index: 1;
}
#bk-aside-content {
	transition:transform 0.3s ease-in-out; transform: translate3d(0px, 0px, 0px); -webkit-transition: -webkit-transform .3s ease-in-out; -o-transition: -o-transform .3s ease-in-out; -webkit-transform: translate3d(0, 0, 0);
}
#asidemenu {
	transition:transform 0.3s ease-in-out; transform: translate3d(0px, 0px, 0px); -webkit-transition: -webkit-transform .3s ease-in-out; -o-transition: -o-transform .3s ease-in-out; -webkit-transform: translate3d(0, 0, 0);
}
.asidemenuclosed ~ #bk-aside-glass {
	display: none;
}
.asidemenuopened ~ #bk-aside-glass {
	display: block;
}
}
.bk-carousel {
	outline: 0px; -ms-touch-select: none; -ms-user-drag: none; -moz-user-drag: none; -webkit-user-drag: none; user-drag: none; touch-select: none;
}
.bk-carousel ul {
	outline: 0px; -ms-touch-select: none; -ms-user-drag: none; -moz-user-drag: none; -webkit-user-drag: none; user-drag: none; touch-select: none;
}
.bk-carousel li {
	outline: 0px; -ms-touch-select: none; -ms-user-drag: none; -moz-user-drag: none; -webkit-user-drag: none; user-drag: none; touch-select: none;
}
.bk-carousel li a {
	outline: 0px; -ms-touch-select: none; -ms-user-drag: none; -moz-user-drag: none; -webkit-user-drag: none; user-drag: none; touch-select: none;
}
.bk-carousel {
	transition:opacity 1000ms linear; opacity: 0; -webkit-transition: opacity 1000ms linear;
}
.bk-carousel ul {
	width: 100%; padding-left: 0px !important; display: table; position: relative; table-layout: fixed;
}
.bk-carousel li {
	padding: 7px 0px; top: 0px; overflow: hidden; vertical-align: top; display: table-cell;
}
.bk-carousel li a {
	-webkit-tap-highlight-color: transparent;
}
.bk-carousel .bk-nav {
	width: 100%; text-align: center;
}
.bk-carousel .bk-bullets span {
	display: inline-block;
}
.bk-carousel .bk-btn {
	text-decoration: none; display: inline-block;
}
.bk-carousel a {
	margin: 0px auto; text-decoration: none; display: block;
}
.bk-coverflow {
	padding-top: 21px; position: relative; -ms-overflow-x: hidden; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-touch-callout: none;
}
.bk-coverflow {
	transition:opacity 1000ms linear; opacity: 0; -webkit-transition: opacity 1000ms linear;
}
.bk-coverflow div.centering {
	top: 0px; position: relative; -webkit-transform: translate3d(0, 0, 0); -webkit-perspective: 600; -webkit-transform-style: preserve-3d;
}
.bk-coverflow div.tray {
	top: 0px; position: absolute; -webkit-transform-style: preserve-3d;
}
.bk-coverflow div.cell {
	position: absolute; -webkit-transform-style: preserve-3d; -webkit-transition-duration: 400ms; -webkit-transition-timing-function: ease-out;
}
.bk-coverflow div.cell .content {
	background-position: top; position: absolute; z-index: 2; background-repeat: no-repeat;
}
.bk-coverflow img {
	outline: transparent solid 1px;
}
.bk-coverflow div.cell .shadow {
	background-position: center; left: 0px; width: 130%; height: 20px; bottom: 10px; margin-left: -15%; position: relative; background-repeat: no-repeat; background-size: 100% 100%; -webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -o-background-size: 100% 100%; -ms-background-size: 100% 100%;
}
.bk-coverflow .bk-nav {
	width: 100%; text-align: center;
}
.bk-coverflow .bk-bullets span {
	display: inline-block;
}
.bk-slide {
	transition:transform 300ms cubic-bezier(0.6, 0.1, 0.2, 0.7); transform: translate3d(0px, 0px, 0px); -webkit-transition: -webkit-transform 300ms cubic-bezier(0.6, 0.1, 0.2, 0.7); -webkit-transform: translate3d(0, 0, 0);
}
.bk-fold-old {
	height: 100%;
}
.bk-fold {
	transition:height 600ms cubic-bezier(0.6, 0.1, 0.2, 0.7); overflow: hidden; transform: translate3d(0px, 0px, 0px); -webkit-transition: height 600ms cubic-bezier(0.6, 0.1, 0.2, 0.7); -webkit-transform: translate3d(0, 0, 0);
}
.bk-fade {
	transition:opacity 1000ms cubic-bezier(0.6, 0.1, 0.2, 0.7); transform: translate3d(0px, 0px, 0px); -webkit-transition: opacity 1000ms cubic-bezier(0.6, 0.1, 0.2, 0.7); -webkit-transform: translate3d(0, 0, 0);
}
.bk-front {
	transition:1s ease-in-out; z-index: 900; opacity: 1; backface-visibility: hidden; -o-transition: all 1s ease-in-out; -webkit-transition-duration: 1s; -webkit-transition-timing-function: ease-in-out; -moz-transition: all 1s ease-in-out; -webkit-transition-property: -webkit-transform, opacity; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
}
.bk-front.bk-rotate {
	transform: perspective(1000px) rotateY(0deg); -webkit-transform: perspective(1000px) rotateY(0deg); -webkit-transform-style: preserve-3d; -moz-transform: perspective(1000px) rotateY(0deg);
}
.bk-flip.bk-front.bk-rotate {
	opacity: 0; transform: perspective(1000px) rotateY(180deg); -webkit-transform: perspective(1000px) rotateY(180deg); -moz-transform: perspective(1000px) rotateY(180deg);
}
.bk-back {
	transition:1s ease-in-out; z-index: 800; opacity: 0; backface-visibility: hidden; -o-transition: all 1s ease-in-out; -webkit-transition-duration: 1s; -webkit-transition-timing-function: ease-in-out; -moz-transition: all 1s ease-in-out; -webkit-transition-property: -webkit-transform, opacity; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
}
.bk-back.bk-rotate {
	transform: perspective(1000px) rotateX(0deg) rotateY(-180deg); -webkit-transform: perspective(1000px) rotateX(0deg) rotateY(-180deg); -moz-transform: perspective(1000px) rotateX(0deg) rotateY(-180deg);
}
.bk-flip.bk-back {
	opacity: 1;
}
.bk-flip.bk-back.bk-rotate {
	transform: perspective(1000px) rotateX(0deg) rotateY(0deg); -webkit-transform: perspective(1000px) rotateX(0deg) rotateY(0deg); -moz-transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
}
img.bk-loader {
	animation:spinnerRotateStandard 2s linear infinite; -webkit-animation: spinnerRotate 2s infinite linear;
}
.bk-popup-wrapper {
	padding: 21px; left: 0px; width: 100%; position: absolute; z-index: 4;
}
.bk-popup {
	margin: 0px auto; position: relative; background-color: rgb(255, 255, 255);
}
a.bk-close-popup {
	top: -22px; width: 44px; height: 44px; right: -22px; overflow: hidden; text-decoration: none; display: block; position: absolute;
}
#bk-overlay {
	left: 0px; top: 0px; position: absolute; z-index: 3; background-color: rgb(0, 0, 0);
}
.bk-overlay-closed {
	width: 0px; height: 0px; opacity: 0;
}
.bk-overlay-open {
	transition:opacity 200ms linear; width: 100%; opacity: 0.8; -webkit-transition: opacity 200ms linear; -o-transition: opacity 200ms linear;
}
.bk-blur {
	-webkit-transform: translate3d(0, 0, 0); -webkit-filter: blur(5px) grayscale(90%);
}
.bk-overlay-open {
	opacity: 0;
}
.bk-popup {
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.50);
}
.bkCalWrapper {
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.50);
}
.bkCalWrapper {
	margin: auto; display: table;
}
.bk-x-axis {
	stroke: black;
}
.bk-y-axis {
	stroke: black;
}
.bk-x-ticks {
	stroke: black;
}
.bk-y-ticks {
	stroke: black;
}
.bk-chart {
	text-align: center; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-transform: translate3d(0, 0, 0);
}
.bk-chart text {
	color: black; font-family: Arial; font-size: 12px;
}
.bk-chart .bk-caption {
	padding-top: 7px;
}
.bk-chart-grid-line {
	stroke: #eee;
}
.bk-chart-line path {
	fill: none; stroke: #4682b4; stroke-width: 2;
}
text.bk-chart-bar-value {
	font-size: 8px;
}
