@font-face {
	font-family: futura-condensed;
	src: url(./Futura_condensed-medium.ttf);
}
body {
	color: black; background-color: white; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body {
	font-size: 14px;
}
td {
	font-size: 14px;
}
a {
	color: black;
}
.paddedText {
	padding: 10px;
}
.bg_grey_color {
	background-color: rgb(242, 242, 242);
}
.header {
	background: linear-gradient(rgb(33, 123, 128) 0px, rgb(28, 106, 110) 68%, rgb(29, 109, 113) 85%, rgb(30, 113, 118) 93%, rgb(32, 119, 124) 98%, rgb(67, 69, 69) 99%, rgb(67, 69, 69) 100%); padding: 0px 3px; width: 100%; font-family: futura-condensed,impact; font-size: 15px; display: table;
}
.header_title {
	margin-top: 8px; display: block;
}
.header .name {
	line-height: 17px;
}
.header .slogan {
	font-size: 13px;
}
.header .logo {
	display: inline-block;
}
.header .header_title {
	padding-top: 3px; margin-top: 0px; vertical-align: top; display: inline-block;
}
.header .sos_header {
	float: right;
}
.header .allwidth {
	width: 100%;
}
#bk-aside-content-wrapper {
	background-color: rgb(219, 219, 219);
}
.menu_trigger {
	width: 37px; display: table-cell;
}
.header_title_wrapper {
	display: table-cell;
}
.padded {
	padding: 10px;
}
.padded_left {
	padding-left: 10px;
}
.padded_top {
	padding-top: 10px;
}
.padded_plus {
	padding-top: 10px; padding-right: 20px; padding-left: 20px;
}
.demoSosNumbers {
	border: 0px currentColor; border-image: none; color: rgb(0, 136, 141); font-size: 12pt !important; box-shadow: 0px 0px 3px 1px #ccc, inset 0px 0px 5px 2px #e1f1f2; background-color: white; -webkit-box-shadow: 0 0 3px 1px #ccc, inset 0 0 5px 2px #e1f1f2; -moz-box-shadow: 0 0 3px 1px #ccc, inset 0 0 5px 2px #e1f1f2;
}
.bk-fieldset {
	padding: 2px;
}
.ca-i-deco {
	background: url("https://m.ca-paris.fr/img/evol/ico_arrow_textfield@2x.gif") no-repeat top / 30px 17px; padding-top: 15px; display: inline-block; -webkit-background-size: 30px 17px;
}
.ca-i-deco.error {
	background-image: url("/img/evol/ico_arrow_textfield_error@2x.gif"); background-size: 30px 17px; -webkit-background-size: 30px 17px;
}
.ca-i-deco input {
	border-radius: 5px; border: 5px solid rgb(0, 119, 122); border-image: none; box-shadow: inset 0px 1px 3px 1px #ccc, 0px 0px 3px 1px #ccc; -webkit-border-radius: 5px; -webkit-box-shadow: inset 0 1px 3px 1px #ccc, 0px 0 3px 1px #ccc;
}
.home_form {
	background-image: url("/img/evol/bg_france.gif");
}
.home_form {
	padding-bottom: 9px; min-height: 91px;
}
.home_region_form {
	padding-bottom: 9px; min-height: 91px;
}
input[disabled='disabled'].code_item.onfocus {
	box-shadow: inset 0px 0px 8px 1px #00777a, 0px 0px 3px 1px #ccc; background-color: rgb(201, 201, 201); -webkit-box-shadow: inset 0 0 8px 1px #00777a, 0px 0 3px 1px #ccc;
}
input[type='submit'] {
	margin: 10px; padding: 10px; border-radius: 0px; border: 0px currentColor; border-image: none; height: auto; color: white; background-image: -ms-linear-gradient(rgb(0, 137, 144) 0px, rgb(63, 149, 152) 1%, rgb(56, 143, 147) 14%, rgb(34, 124, 128) 44%, rgb(29, 115, 119) 68%, rgb(29, 107, 111) 99%, rgb(0, 137, 144) 100%); background-color: rgb(0, 137, 144); -webkit-border-radius: 0; -webkit-appearance: none; appearance: none;
}
#popUpDiv a:nth-of-type(1) {
	margin: 10px; padding: 10px; border-radius: 0px; border: 0px currentColor; border-image: none; height: auto; color: white; background-image: -ms-linear-gradient(rgb(0, 137, 144) 0px, rgb(63, 149, 152) 1%, rgb(56, 143, 147) 14%, rgb(34, 124, 128) 44%, rgb(29, 115, 119) 68%, rgb(29, 107, 111) 99%, rgb(0, 137, 144) 100%); background-color: rgb(0, 137, 144); -webkit-border-radius: 0; -webkit-appearance: none; appearance: none;
}
.retry {
	margin: 10px; padding: 10px; border-radius: 0px; border: 0px currentColor; border-image: none; height: auto; color: white; background-image: -ms-linear-gradient(rgb(0, 137, 144) 0px, rgb(63, 149, 152) 1%, rgb(56, 143, 147) 14%, rgb(34, 124, 128) 44%, rgb(29, 115, 119) 68%, rgb(29, 107, 111) 99%, rgb(0, 137, 144) 100%); background-color: rgb(0, 137, 144); -webkit-border-radius: 0; -webkit-appearance: none; appearance: none;
}
.retry {
	text-decoration: none; margin-top: 10px;
}
#btnErase {
	background: -ms-linear-gradient(rgb(216, 217, 217) 0px, rgb(205, 206, 206) 100%); padding: 10px; border: 0px currentColor; border-image: none; height: auto; color: black; margin-right: 6px;
}
#pwd_btnErase {
	background: -ms-linear-gradient(rgb(216, 217, 217) 0px, rgb(205, 206, 206) 100%); padding: 10px; border: 0px currentColor; border-image: none; height: auto; color: black; margin-right: 6px;
}
input[type='reset'] {
	background: -ms-linear-gradient(rgb(216, 217, 217) 0px, rgb(205, 206, 206) 100%); padding: 10px; border: 0px currentColor; border-image: none; height: auto; color: black; margin-right: 6px;
}
#popUpDiv a:nth-of-type(2) {
	background: -ms-linear-gradient(rgb(216, 217, 217) 0px, rgb(205, 206, 206) 100%); padding: 10px; border: 0px currentColor; border-image: none; height: auto; color: black; margin-right: 6px;
}
#blanket {
	left: 0px; top: 0px; width: 100%; text-align: center; position: absolute; z-index: 9001; background-color: rgba(17, 17, 17, 0.65);
}
.rates-btn a {
	background: -ms-linear-gradient(rgb(0, 137, 144) 0px, rgb(63, 149, 152) 1%, rgb(56, 143, 147) 14%, rgb(34, 124, 128) 44%, rgb(29, 115, 119) 68%, rgb(29, 107, 111) 99%, rgb(0, 137, 144) 100%); padding: 10px 20px; color: white; text-decoration: none; display: inline-block;
}
.rates-btn img {
	margin-right: 5px; display: inline-block;
}
#popUpDiv {
	background: rgb(255, 255, 255); padding: 10px; border-radius: 3px; border: 0px currentColor; border-image: none; width: 95%; text-align: justify; color: rgb(4, 99, 102); margin-top: 77px; display: inline-block; max-width: 240px; -webkit-border-radius: 3px;
}
#popUpDiv div.popup_links {
	text-align: center; margin-top: 30px;
}
#popUpDiv .popup_links a {
	text-decoration: none; display: inline-block;
}
a#popup_link_accept {
	margin-right: 10px;
}
#popUpDiv span {
	color: rgb(4, 99, 102); font-family: helvetica,arial,sans-serif; font-weight: bold;
}
#bannerDiv {
	padding: 2%; width: 100%; bottom: 0px; color: white; display: table; position: fixed; z-index: 10; min-height: 80px; opacity: 0.9; background-color: rgb(4, 99, 102);
}
#bannerDiv a {
	color: white; text-decoration: underline;
}
#bannerDiv span {
	text-align: left; padding-right: 10px; padding-left: 10px; vertical-align: middle; display: table-cell;
}
#bannerDiv img:nth-of-type(1) {
	padding-left: 5px;
}
.first-cell {
	vertical-align: middle; display: table-cell;
}
div.tabHome {
	padding: 0px;
}
.tabHome {
	text-align: center; background-image: url("https://m.ca-paris.fr/img/evol/bg_home_buttons.gif"); background-repeat: repeat-x;
}
.tabSectionHome_hub a {
	width: 45%; display: inline-block;
}
.down4 {
	padding-bottom: 4px;
}
.home_footer {
	background: url("https://m.ca-paris.fr/img/evol/gr_footer.gif"); height: 35px;
}
.home_footer .left {
	width: 40%; padding-right: 20px; border-right-color: rgb(0, 87, 91); border-right-width: 1px; border-right-style: solid;
}
.home_footer .right {
	width: 40%; padding-left: 20px; border-left-color: rgb(93, 180, 184); border-left-width: 1px; border-left-style: solid;
}
.tab_home_footer {
	margin-top: 5px; margin-bottom: 5px; background-image: url("https://m.ca-paris.fr/img/evol/bg_home_buttons_small.gif");
}
.footer {
	background-image: linear-gradient(rgb(0, 117, 123) 0px, rgb(0, 119, 125) 6%, rgb(0, 132, 139) 18%, rgb(0, 137, 144) 26%, rgb(0, 137, 144) 100%); background-repeat: repeat-x; background-size: auto 30px; -webkit-background-size: auto 30px;
}
.footer a {
	text-decoration: none;
}
.footer img.bk-icon {
	left: 2px; top: 4px;
}
.footer a.bk-icon {
	padding-left: 35px;
}
.double_sub_title_date_detail span:nth-of-type(2) {
	float: left; display: block;
}
.operations_detail span:nth-of-type(2) {
	margin-right: 10px; float: right; display: block;
}
.operations_business_detail span:nth-of-type(2) {
	margin-right: 10px; float: right; display: block;
}
.double_sub_title_date_detail span:nth-of-type(3) {
	margin-right: 10px; float: right; display: block;
}
.operations_detail span:nth-of-type(2) {
	font-family: helvetica,arial,sans-serif; font-weight: bold;
}
.operations_business_detail span:nth-of-type(2) {
	font-family: helvetica,arial,sans-serif; font-weight: bold;
}
.stock_account span:nth-of-type(1) {
	font-family: helvetica,arial,sans-serif; font-weight: bold;
}
.stock_confirm_header span:nth-of-type(2) {
	font-family: helvetica,arial,sans-serif; font-weight: bold;
}
.stock_detail_list_amount {
	font-family: helvetica,arial,sans-serif; font-weight: bold;
}
.form_stock_header {
	font-family: helvetica,arial,sans-serif; font-weight: bold;
}
.form_stock_amount span {
	font-family: helvetica,arial,sans-serif; font-weight: bold;
}
.error_style {
	font-family: helvetica,arial,sans-serif; font-weight: bold;
}
.sos_tel a {
	font-family: helvetica,arial,sans-serif; font-weight: bold;
}
.form_stock_header span {
	padding-left: 5px; font-size: 13px;
}
.form_stock_amount span {
	padding-left: 5px; font-size: 14px;
}
.error_style {
	padding-left: 10px; font-size: 13px; display: block;
}
.green_colored b {
	color: rgb(4, 99, 102);
}
#stockOperationSection hr {
	margin: 0px; border-top-color: rgb(223, 223, 223); border-top-width: 1.5px; border-top-style: solid;
}
.stock_list {
	margin-right: 10px;
}
.operations_business_detail {
	height: 30px; padding-top: 7px; padding-left: 10px; border-top-color: rgb(222, 222, 222); border-top-width: 1px; border-top-style: solid;
}
.greencam_detail {
	border-top-color: rgb(222, 222, 222); border-top-width: 1px; border-top-style: solid;
}
.greencam_detail span:nth-of-type(1) {
	margin-left: 10px;
}
.greencam_detail span:nth-of-type(3) {
	margin-left: 10px;
}
.info {
	margin-left: 10px;
}
.sos span {
	padding-left: 10px;
}
.greencam_detail span:nth-of-type(1) {
	float: left;
}
.greencam_detail span:nth-of-type(2) {
	font-family: helvetica,arial,sans-serif; margin-right: 10px; float: right;
}
.form_gc {
	font-family: helvetica,arial,sans-serif; font-weight: bold; margin-left: 10px;
}
.center_gc span {
	text-align: center; display: block;
}
.section_BG_vertgris {
	background-color: rgb(226, 233, 233);
}
.section_BG {
	margin-right: 10px; margin-left: 10px; background-color: rgb(242, 242, 242);
}
.all_section_BG {
	padding-bottom: 1px; background-color: rgb(242, 242, 242);
}
hr {
	margin-right: 10px; margin-left: 10px; border-top-color: rgb(223, 223, 223); border-top-width: 1.5px; border-top-style: dashed;
}
.double_sub_title_detail span {
	margin-left: 10px;
}
.business_list_menu span {
	margin-left: 10px;
}
.double_sub_title_date_detail span {
	margin-left: 10px;
}
.input-greencam {
	margin-left: 10px;
}
.title_infos_epargne_header {
	margin-left: 10px;
}
.inter_title {
	padding: 4px 10px;
}
.business_list_menu {
	border-top-color: rgb(222, 222, 222); border-top-width: 1px; border-top-style: solid;
}
.menu_tab {
	background: rgb(205, 215, 215); width: 100%;
}
.sub_header {
	font-family: futura-condensed,impact;
}
.sub_header_with_subtitle {
	font-family: futura-condensed,impact;
}
.sub-header-branch {
	font-family: futura-condensed,impact;
}
.sub_header {
	padding-bottom: 5px;
}
.sub_header img {
	margin-right: 5px; margin-bottom: 4px; margin-left: 5px;
}
.right-buttons {
	background: linear-gradient(rgba(255, 255, 255, 0.8) 0px, rgba(255, 255, 255, 0.8) 5%, rgba(255, 255, 255, 0.72) 8%, rgba(255, 255, 255, 0.54) 12%, rgba(255, 255, 255, 0.19) 20%, rgba(255, 255, 255, 0.07) 23%, rgba(255, 255, 255, 0.01) 25%, rgba(255, 255, 255, 0) 26%, rgba(255, 255, 255, 0) 52%, rgba(243, 243, 243, 0) 53%, rgba(211, 211, 211, 0) 54%, rgba(169, 169, 169, 0) 55%, rgba(76, 76, 76, 0) 57%, rgba(35, 35, 35, 0) 58%, rgba(6, 6, 6, 0) 59%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 87%, rgba(0, 0, 0, 0.09) 100%);
}
.right-buttons {
	text-align: right; float: right;
}
.right-buttons img {
	text-align: right; float: right;
}
.right-buttons img {
	border-left-color: rgb(215, 215, 215); border-left-width: 1px; border-left-style: solid;
}
.sub-header-left {
	padding-top: 5px; float: left;
}
.sub-header-branch span:nth-of-type(2) {
	margin-left: 0px;
}
.title-branch-text {
	padding-top: 5px; padding-bottom: 3px; font-size: 14px; float: left; display: block;
}
.subtitle-branch-text {
	color: rgb(125, 125, 125); line-height: 0.9em; padding-left: 28px; clear: left; font-family: Arial,Helvetica,Sans-serif; font-size: 10px; margin-top: -7px; float: left; display: inline-block; max-width: 350px;
}
.subtitle-branch-text small {
	font-size: 12px;
}
.sub-header-branch-result-container {
	overflow: hidden; padding-bottom: 10px; padding-left: 10px; display: block;
}
.sub-header-branch-result-container .subtitle-branch-text {
	padding-left: 0px; margin-top: 0px;
}
.sub_title_detail {
	padding: 10px;
}
.sub_title_detail {
	font-family: futura-condensed,impact;
}
.double_sub_title_detail span {
	font-family: futura-condensed,impact;
}
.double_sub_title_date_detail span:nth-of-type(1) {
	font-family: futura-condensed,impact;
}
.double_sub_title_date_detail span:nth-of-type(2) {
	font-family: futura-condensed,impact;
}
.title_header_section {
	padding-bottom: 10px; background-image: -ms-linear-gradient(rgb(254, 255, 255) 0px, rgb(229, 248, 249) 97%, rgb(229, 248, 249) 100%, rgb(238, 246, 246) 100%); background-color: rgb(254, 255, 255);
}
.stock_header {
	padding-bottom: 10px; background-image: -ms-linear-gradient(rgb(254, 255, 255) 0px, rgb(229, 248, 249) 97%, rgb(229, 248, 249) 100%, rgb(238, 246, 246) 100%); background-color: rgb(254, 255, 255);
}
.stock_confirm_header {
	padding-bottom: 10px; background-image: -ms-linear-gradient(rgb(254, 255, 255) 0px, rgb(229, 248, 249) 97%, rgb(229, 248, 249) 100%, rgb(238, 246, 246) 100%); background-color: rgb(254, 255, 255);
}
.operations_detail span {
	margin-right: 10px; margin-bottom: 8px; margin-left: 10px;
}
.title_header {
	padding: 5px 10px;
}
.title_stock_header {
	padding-top: 5px;
}
.title_infos_epargne_header {
	padding-top: 5px;
}
.title_stock_header {
	padding-bottom: 10px;
}
.stock_header {
	padding-right: 10px; padding-left: 10px;
}
.stock_detail_list {
	padding-top: 10px; border-top-color: rgb(223, 223, 223); border-top-width: 1.5px; border-top-style: dashed;
}
.stock_detail_list span {
	padding-right: 10px; padding-left: 10px;
}
.stock_detail_list_amount {
	padding-right: 10px; padding-left: 10px;
}
.stock_confirm_header {
	padding-right: 10px; padding-left: 10px;
}
.stock_detail_list_amount {
	padding-bottom: 10px; border-bottom-color: rgb(226, 233, 233); border-bottom-width: 1.5px; border-bottom-style: solid;
}
.green_border {
	border-bottom-color: rgb(226, 233, 233); border-bottom-width: 1.5px; border-bottom-style: solid;
}
.green_border span:nth-of-type(1) {
	padding-top: 10px;
}
.container_border div:nth-child(1).border_dv {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.operations_detail_date {
	padding-top: 8px; border-top-color: rgb(226, 233, 233); border-top-width: 1px; border-top-style: solid;
}
.section_BG {
	border: 0px currentColor; border-image: none; box-shadow: 0px 0px 3px 1px #ccc, inset 0px 0px 5px 2px #e1f1f2; background-color: rgb(235, 235, 235); -webkit-box-shadow: 0 0 3px 1px #ccc, inset 0 0 5px 2px #e1f1f2;
}
.all_form_stock {
	border: 0px currentColor; border-image: none; box-shadow: 0px 0px 3px 1px #ccc, inset 0px 0px 5px 2px #e1f1f2; background-color: rgb(235, 235, 235); -webkit-box-shadow: 0 0 3px 1px #ccc, inset 0 0 5px 2px #e1f1f2;
}
.synthese_container {
	border: 0px currentColor; border-image: none; box-shadow: 0px 0px 3px 1px #ccc, inset 0px 0px 5px 2px #e1f1f2; background-color: rgb(235, 235, 235); -webkit-box-shadow: 0 0 3px 1px #ccc, inset 0 0 5px 2px #e1f1f2;
}
.all_form_stock {
	margin: 10px;
}
div.items_container div.row {
	border-top-color: rgb(200, 200, 200); border-top-width: 1.5px; border-top-style: dashed;
}
#accountOperationsSection2 {
	margin-bottom: 8px;
}
div.items_container div.row.rowFirst {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.head_container {
	margin: 0px 2px; padding-bottom: 10px;
}
.synthese_container {
	margin: 0px 2px; padding-bottom: 10px;
}
.synth_account {
	background-position: 2px 2px; margin: 2%; width: 46%; border-bottom-color: currentColor !important; border-bottom-width: medium !important; border-bottom-style: none !important; display: inline-block; background-repeat: no-repeat; background-size: 16px 16px; -webkit-background-size: 16px 16px;
}
.synth_account a {
	padding: 0px 7px; background-image: none !important;
}
.synth_account .description {
	padding: 7px 0px; width: 100%; vertical-align: middle; display: block; min-height: 70px;
}
.synth_account .amount {
	padding: 7px 0px; border-top-color: rgb(125, 125, 125); border-top-width: 1px; border-top-style: dotted; display: block;
}
.synth_account b span {
	font-family: futura-condensed,impact; margin-bottom: 10px;
}
.pink_triangle {
	background-image: url("/img/evol/ico_triangle_pink.gif");
}
.yellow_triangle {
	background-image: url("/img/evol/ico_triangle_yellow.gif");
}
.light_green_triangle {
	background-image: url("/img/evol/ico_triangle_light_green.gif");
}
.dark_green_triangle {
	background-image: url("/img/evol/ico_triangle_dark_green.gif");
}
.grey_triangle {
	background-image: url("/img/evol/ico_triangle_grey.gif");
}
.orange_triangle {
	background-image: url("/img/evol/ico_triangle_orange.gif");
}
.blue_triangle {
	background-image: url("/img/evol/ico_triangle_light_green.gif");
}
.red_triangle {
	background-image: url("/img/evol/ico_triangle_red.gif");
}
.purple_triangle {
	background-image: url("/img/evol/ico_triangle_purple.gif");
}
.head.row span.col span {
	background: -ms-linear-gradient(rgb(0, 137, 144) 0px, rgb(63, 149, 152) 1%, rgb(56, 143, 147) 14%, rgb(34, 124, 128) 44%, rgb(29, 115, 119) 68%, rgb(29, 107, 111) 99%, rgb(0, 137, 144) 100%); border: 0px currentColor; border-image: none; height: 25px; color: white;
}
.stock-erase {
	background: -ms-linear-gradient(rgb(0, 137, 144) 0px, rgb(63, 149, 152) 1%, rgb(56, 143, 147) 14%, rgb(34, 124, 128) 44%, rgb(29, 115, 119) 68%, rgb(29, 107, 111) 99%, rgb(0, 137, 144) 100%); border: 0px currentColor; border-image: none; height: 25px; color: white;
}
.head.row span.colSelected span {
	background: -ms-linear-gradient(rgb(29, 107, 111) 0px, rgb(29, 116, 120) 33%, rgb(34, 124, 128) 56%, rgb(54, 142, 146) 85%, rgb(63, 149, 152) 100%); border: 0px currentColor; border-image: none; height: 25px; color: white;
}
.stock-erase {
	color: black; background-image: -ms-linear-gradient(rgb(216, 217, 217) 0px, rgb(205, 206, 206) 100%); background-color: rgb(216, 217, 217);
}
.all_form_stock input[type='submit'] {
	width: 105px; height: 40px;
}
.stock-erase {
	width: 105px; height: 40px;
}
.stock-erase a {
	text-decoration: none; margin-top: 10px;
}
.head.row span.col span {
	padding-top: 8px; margin-right: 2px; margin-left: 2px; display: block;
}
.head.row span.colSelected span {
	padding-top: 8px; margin-right: 2px; margin-left: 2px; display: block;
}
.items_container {
	border-color: currentColor; margin: 0px 10px;
}
.next_items {
	margin: 10px; padding-left: 10px; box-shadow: 0px 0px 3px 1px #ccc; -webkit-box-shadow: 0 0 3px 1px #ccc;
}
.next_items a {
	float: left;
}
.next_items a img {
	margin-left: 100px; float: right;
}
.nav_button_left {
	border: 0px currentColor; border-image: none; color: rgb(0, 136, 141); font-size: 12pt; box-shadow: 0px 0px 3px 1px #ccc, inset 0px 0px 5px 2px #e1f1f2; background-color: white; -webkit-box-shadow: 0 0 3px 1px #ccc, inset 0 0 5px 2px #e1f1f2;
}
.nav_button_right {
	border: 0px currentColor; border-image: none; color: rgb(0, 136, 141); font-size: 12pt; box-shadow: 0px 0px 3px 1px #ccc, inset 0px 0px 5px 2px #e1f1f2; background-color: white; -webkit-box-shadow: 0 0 3px 1px #ccc, inset 0 0 5px 2px #e1f1f2;
}
.nav_button_down {
	border: 0px currentColor; border-image: none; color: rgb(0, 136, 141); font-size: 12pt; box-shadow: 0px 0px 3px 1px #ccc, inset 0px 0px 5px 2px #e1f1f2; background-color: white; -webkit-box-shadow: 0 0 3px 1px #ccc, inset 0 0 5px 2px #e1f1f2;
}
.nav_menu_right {
	border: 0px currentColor; border-image: none; color: rgb(0, 136, 141); font-size: 12pt; box-shadow: 0px 0px 3px 1px #ccc, inset 0px 0px 5px 2px #e1f1f2; background-color: white; -webkit-box-shadow: 0 0 3px 1px #ccc, inset 0 0 5px 2px #e1f1f2;
}
.nav_button_next {
	border: 0px currentColor; border-image: none; color: rgb(0, 136, 141); font-size: 12pt; box-shadow: 0px 0px 3px 1px #ccc, inset 0px 0px 5px 2px #e1f1f2; background-color: white; -webkit-box-shadow: 0 0 3px 1px #ccc, inset 0 0 5px 2px #e1f1f2;
}
.nav_button_previous {
	border: 0px currentColor; border-image: none; color: rgb(0, 136, 141); font-size: 12pt; box-shadow: 0px 0px 3px 1px #ccc, inset 0px 0px 5px 2px #e1f1f2; background-color: white; -webkit-box-shadow: 0 0 3px 1px #ccc, inset 0 0 5px 2px #e1f1f2;
}
.nav_button_left {
	margin: 0px 0px 0px 10px; padding: 0px 5px 0px 10px; display: inline-block;
}
.nav_button_right {
	margin: 0px 10px 0px 0px; padding: 0px 10px 0px 5px; float: right; display: inline-block;
}
.reduce_button {
	width: 120px;
}
.branch_search {
	padding: 5px 0px 7px 10px;
}
.nav_button_search {
	width: 100px;
}
.nav_button_down {
	margin: 0px 10px; padding-right: 10px;
}
.nav_button_down a {
	padding-left: 10px;
}
.nav_button_next {
	margin: 0px 10px; padding-right: 10px;
}
.nav_button_previous {
	margin: 0px 10px; padding-right: 10px;
}
.nav_button_next a {
	padding: 10px;
}
.nav_button_previous a {
	padding: 10px;
}
.nav_button_next img {
	margin-top: 5px; float: right;
}
.nav_button_previous img {
	margin-top: 5px; float: left;
}
.down {
	margin-bottom: 20px;
}
.down2 {
	padding-bottom: 10px;
}
.top {
	margin-top: 10px;
}
.nav_menu_right {
	margin: 10px; padding: 4px;
}
.nav_button_left img {
	margin-right: 5px;
}
.nav_button_down img {
	margin-left: 5px;
}
#wrapper {
	height: 200px;
}
.content_infowindow {
	color: rgb(0, 87, 91);
}
.infobulle_title {
	font-weight: bold;
}
.recipientTable tr {
	display: block;
}
.issuerTable tr {
	display: block;
}
.recipientTable span:first-of-type {
	display: block;
}
.issuerTable span:first-of-type {
	display: block;
}
.selectBoxesTable span:first-of-type {
	display: block;
}
#transferFormWrapper .synthese_container {
	padding: 10px; text-align: center;
}
.styled_box {
	background: rgb(255, 255, 255); color: rgb(45, 198, 207); margin-top: 10px; box-shadow: 0px 0px 3px 1px #ccc, inset 0px 0px 5px 2px #e1f1f2; -webkit-box-shadow: 0 0 3px 1px #ccc, inset 0 0 5px 2px #e1f1f2;
}
.styled_box.margin_bottom {
	margin-bottom: 10px;
}
.inner_box_content {
	padding: 10px; color: rgb(4, 99, 102); text-decoration: none; display: block;
}
#transferFullForm {
	padding-top: 1px; padding-bottom: 1px;
}
#transferFormWrapper #transferFullForm {
	padding: 5px;
}
a.inner_box_content {
	background: url("/img/evol/arrow_orange_down.gif") no-repeat 97% 50%;
}
.hackPadding {
	padding-top: 1px; padding-bottom: 1px;
}
a.transfer_label_link.selected {
	display: block;
}
.transfer_items_container {
	margin-right: 20px; margin-left: 20px;
}
.styled_box {
	margin-right: 20px; margin-left: 20px;
}
a.transfer_item {
	padding: 10px; border: 1px solid rgb(204, 204, 204); border-image: none; display: block; background-color: rgb(217, 234, 236);
}
#partialRefund .ca-i-deco input {
	width: 100%;
}
#fullRefund .ca-i-deco input {
	width: 100%;
}
.centerBlock {
	text-align: center;
}
div.transfer_amount_wording {
	text-align: center; padding-top: 10px; margin-top: 10px; margin-right: auto; margin-left: auto;
}
.transfer_amount_wording .bk-fieldset.double_background {
	background-position: 138px 0px, 57px 0px; width: 200px; margin-right: auto; margin-left: auto; background-image: url("/img/evol/ico_arrow_textfield.gif"), url("/img/evol/ico_arrow_textfield.gif"); background-repeat: no-repeat, no-repeat;
}
.transfer_amount_wording .bk-fieldset.double_background.error {
	background-image: url("/img/evol/ico_arrow_textfield_error.gif"), url("/img/evol/ico_arrow_textfield_error.gif");
}
div.transfer_amount_wording .input_integer_decimal {
	margin-bottom: 15px;
}
div.transfer_amount_wording .input_wording {
	margin-bottom: 15px;
}
.transfer_amount_wording input {
	display: inline-block;
}
.transfer_amount_wording .input_integer_decimal input:nth-of-type(1) {
	width: 142px;
}
.issuer_account_container {
	text-align: center; box-shadow: 0px 0px 3px 1px #ccc, inset 0px 0px 5px 2px #e1f1f2; background-color: rgb(235, 235, 235); -webkit-box-shadow: 0 0 3px 1px #ccc, inset 0 0 5px 2px #e1f1f2;
}
.recipient_account_container {
	text-align: center; box-shadow: 0px 0px 3px 1px #ccc, inset 0px 0px 5px 2px #e1f1f2; background-color: rgb(235, 235, 235); -webkit-box-shadow: 0 0 3px 1px #ccc, inset 0 0 5px 2px #e1f1f2;
}
.transfer_amount_wording .input_wording input {
	width: 142px;
}
.transferSubmitBtn {
	margin-top: 20px;
}
.transferSubmitBtn input {
	padding: 10px; height: auto;
}
#mapsSection {
	padding-bottom: 10px;
}
#branchBackSection {
	padding-bottom: 10px;
}
.branch_link img {
	width: 20px; height: 20px; margin-top: -3px;
}
.day_name {
	width: 100px; margin-right: -15px; display: inline-block;
}
#navigationStartGeolocation {
	padding: 1px; background-color: rgb(255, 255, 255);
}
.navigation_button {
	border: 1px solid rgb(0, 87, 91); border-image: none; text-align: center; margin-right: 25px; margin-bottom: 10px; margin-left: 25px; background-color: rgb(29, 109, 113);
}
.navigation_button a {
	padding: 10px; color: white; font-weight: bold; text-decoration: none; display: block;
}
.tab_menu {
	background-image: url("/img/evol/gr_tabs.gif");
}
.menu_tab_first_part {
	background-image: url("/img/evol/gr_tabs.gif");
}
.menu_tab_second_part {
	background-image: url("/img/evol/gr_tabs.gif");
}
.tab_menu a {
	background: url("/img/evol/gr_tabs_background_off.gif") repeat-x left top; margin: 0px 1.1%; width: 22%; display: inline-block;
}
.menu_tab_first_part a {
	background: url("/img/evol/gr_tabs_background_off.gif") repeat-x left top; margin: 0px 1.1%; width: 25%; display: inline-block;
}
.menu_tab_first_part a:nth-of-type(4) {
	width: 13%;
}
.menu_tab_second_part a {
	background: url("/img/evol/gr_tabs_background_off.gif") repeat-x left top; margin: 0px 1.1%; width: 38%; display: inline-block;
}
.menu_tab_second_part a:nth-of-type(1) {
	width: 13%;
}
.tab_menu.has_not_bourse a {
	width: 30%;
}
.tab_menu a:nth-of-type(1) {
	margin-left: 0px;
}
.menu_tab_off img {
	background-image: none;
}
.tab_menu a:first-child {
	margin-left: 1.15%;
}
.menu_comptes_tab_on a:nth-child(1) {
	background-image: url("/img/evol/gr_tabs_background_on.gif"); background-size: 208px 52px; -webkit-background-size: 208px 52px;
}
.menu_operations_tab_on a:nth-child(2) {
	background-image: url("/img/evol/gr_tabs_background_on.gif"); background-size: 208px 52px; -webkit-background-size: 208px 52px;
}
.menu_informations_tab_on.has_bourse a:nth-child(4) {
	background-image: url("/img/evol/gr_tabs_background_on.gif"); background-size: 208px 52px; -webkit-background-size: 208px 52px;
}
.menu_informations_tab_on.has_not_bourse a:nth-child(3) {
	background-image: url("/img/evol/gr_tabs_background_on.gif"); background-size: 208px 52px; -webkit-background-size: 208px 52px;
}
.sub_header.sub_header_with_subtitle span:nth-of-type(2) {
	margin-left: 5px;
}
.sub_header_with_subtitle span:nth-of-type(2) {
	margin-left: 25px;
}
.sub_header_with_subtitle img {
	padding-right: 3px; padding-bottom: 6px;
}
.card_one {
	padding-top: 5px; padding-bottom: 0px;
}
.card_two {
	padding-top: 0px; padding-bottom: 5px;
}
.operation_stock_detail_form {
	padding-bottom: 10px;
}
.button_history {
	padding-top: 5px; padding-bottom: 10px;
}
.account_header_button {
	margin-top: 10px;
}
.padded_search {
	padding-bottom: 10px; padding-left: 10px;
}
.menu_green_line {
	border-top-color: rgb(60, 106, 108); border-top-width: 1px; border-top-style: solid;
}
.bottom_shadow {
	margin-bottom: 3px; box-shadow: 0px 1px 3px 1px #aaaaa8; -webkit-box-shadow: 0 1px 3px 1px #aaaaa8;
}
.epargneInfosSection {
	margin-bottom: 3px; box-shadow: 0px 1px 3px 1px #aaaaa8; -webkit-box-shadow: 0 1px 3px 1px #aaaaa8;
}
.border_bottom_grey_upanddown {
	border-top-color: rgb(170, 170, 168); border-bottom-color: rgb(170, 170, 168); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.services img {
	padding-right: 5px;
}
.market_tabs img {
	padding-right: 10px; padding-bottom: 10px;
}
.margin_bottom {
	margin-bottom: 8px;
}
img.navlink {
	margin-bottom: 2px;
}
.align_center {
	text-align: center;
}
.try_again_geoloc {
	border: 1px solid rgb(236, 1, 101); border-image: none; text-decoration: none; display: block;
}
.retry_div {
	text-align: center; margin-bottom: 10px;
}
.geoloc img {
	padding-right: 2px; padding-left: 2px;
}
.floatRightBody {
	padding-top: 5px; padding-right: 5px; padding-bottom: 5px; margin-left: 8px; float: right;
}
.departmentError {
	color: rgb(255, 255, 255);
}
.selected_cr {
	text-transform: uppercase; font-size: 18px;
}
#togglerAdressSearch span {
	color: rgb(4, 99, 102);
}
#errorMsgFilter {
	padding: 13px;
}
[disabled='disabled']#submitBtnBranchSelection {
	opacity: 0.5;
}
#map_canvas {
	height: 190px;
}
#creditDetail {
	background-color: rgb(242, 242, 242);
}
.credit_dv {
	margin: 0px 12px; padding: 8px 0px;
}
.credit_header {
	margin: 0px 12px; padding: 8px 0px;
}
.credit-dv-no-border {
	margin: 0px 12px; padding: 8px 0px;
}
.credit_dv {
	border-top-color: rgb(203, 203, 203); border-top-width: 1.5px; border-top-style: dashed;
}
.credit_menu_header {
	text-transform: uppercase; padding-top: 8px; padding-bottom: 3px;
}
.credit_menu_header span {
	font-size: 15px;
}
.credit-amount {
	font-family: helvetica,arial,sans-serif; font-size: 20px; font-weight: bold;
}
.epargneInfosSection .row {
	padding: 10px; border-top-color: rgb(200, 200, 200); border-top-width: 1.5px; border-top-style: dashed;
}
.keyValuePair .row span:nth-of-type(2) {
	float: right;
}
.pelCarreMauve .row span:nth-of-type(4) {
	float: right;
}
.keyValuePair .rightColumn {
	float: right;
}
.keyValuePair .dontFloat span:nth-of-type(2) {
	float: none;
}
div:first-of-type.row {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.epargneInfosSection {
	margin: 10px;
}
.all_section_BG {
	padding-top: 1px;
}
div.info_compte td {
	background: url("/img/evol/ico_info_compte_grey.gif") no-repeat left;
}
div.info_compte a.navlink {
	padding: 5px 0px 5px 20px;
}
div.info_compte a.navlink img {
	padding-left: 5px;
}
div.info_compte {
	padding-left: 10px;
}
.llFilter .nav_menu_right a {
	text-transform: capitalize;
}
#passwordBlocCurrent {
	text-align: center; padding-top: 10px;
}
#passwordBlocNew {
	text-align: center; padding-top: 10px;
}
#passwordBlocConfirm {
	text-align: center; padding-top: 10px;
}
#passwordBlocCurrent input {
	border-radius: 5px; border: 5px solid rgb(0, 119, 122); border-image: none; width: 40px; height: 40px; text-align: center; margin-right: 2px; margin-left: 2px; box-shadow: inset 0px 1px 3px 1px #ccc, 0px 0px 3px 1px #ccc; -webkit-border-radius: 5px; -webkit-box-shadow: inset 0 1px 3px 1px #ccc, 0px 0 3px 1px #ccc;
}
#passwordBlocNew input {
	border-radius: 5px; border: 5px solid rgb(0, 119, 122); border-image: none; width: 40px; height: 40px; text-align: center; margin-right: 2px; margin-left: 2px; box-shadow: inset 0px 1px 3px 1px #ccc, 0px 0px 3px 1px #ccc; -webkit-border-radius: 5px; -webkit-box-shadow: inset 0 1px 3px 1px #ccc, 0px 0 3px 1px #ccc;
}
#passwordBlocConfirm input {
	border-radius: 5px; border: 5px solid rgb(0, 119, 122); border-image: none; width: 40px; height: 40px; text-align: center; margin-right: 2px; margin-left: 2px; box-shadow: inset 0px 1px 3px 1px #ccc, 0px 0px 3px 1px #ccc; -webkit-border-radius: 5px; -webkit-box-shadow: inset 0 1px 3px 1px #ccc, 0px 0 3px 1px #ccc;
}
#authentification-grid-numbers table {
	width: 100%; margin-top: 10px;
}
input[type='submit'] {
	padding: 10px 20px; border-radius: 0px; -webkit-border-radius: 0;
}
#btnErase {
	padding: 10px 20px; border-radius: 0px; -webkit-border-radius: 0;
}
#pwd_btnErase {
	padding: 10px 20px; border-radius: 0px; -webkit-border-radius: 0;
}
input[type='reset'] {
	padding: 10px 20px; border-radius: 0px; -webkit-border-radius: 0;
}
#popUpDiv a:nth-of-type(2) {
	padding: 10px 20px; border-radius: 0px; -webkit-border-radius: 0;
}
:nth-of-type(3).adp-substep {
	-ms-word-break: break-all;
}
.bk-link-list a {
	margin-right: 5px;
}
div.sos_tel img {
	padding-top: 5px; vertical-align: bottom; display: inline-block;
}
img.bk-loader {
	width: 32px; height: 32px; -webkit-animation: spinnerRotate 0s infinite linear;
}
.sub-header-left + .subtitle-branch-text {
	padding-left: 40px !important;
}
.sub-header-left + .sub-header-branch-container-text {
	display: inline-block;
}
.sub-header-left + .sub-header-branch-container-text span {
	padding-left: 10px;
}
.sub-header-left + .sub-header-branch-container-text span.title-branch-text {
	padding-bottom: 6px;
}
#accountOperationsSection2 {
	height: auto !important;
}
.know_more_link_list img.bk-icon {
	left: 7px;
}
.know_more_link_list a.bk-icon {
	padding-left: 45px;
}
#accountListSection tr {
	display: block;
}
#sub_header_search .subtitle-branch-text {
	font-family: futura-condensed,impact;
}
#sub_header_search .sub-header-left {
	padding-top: 8px;
}
.popup-container {
	padding: 21px; left: 0px; width: 100%; z-index: 4;
}
#bk-aside-glass {
	display: none !important;
}
.account_info_navlink {
	margin-right: 10px; float: right;
}
input {
	outline: 0px;
}
.banner {
	background-color: rgb(32, 120, 125);
}
div.row {
	width: 100%; display: table;
}
span.col {
	font-size: 13px; display: table-cell;
}
span.colSelected {
	font-size: 13px; display: table-cell;
}
span.col_date {
	width: 19%;
}
span.col_libelle {
	width: 51%;
}
span.col_montant {
	width: 30%;
}
.head.row span.col {
	padding-top: 5px; padding-right: 0px;
}
.row span.col {
	padding-right: 5px;
}
.row span.col.op {
	padding-top: 12px; padding-bottom: 12px;
}
div.row-spacer {
	padding: 10px 5px; font-size: 13px;
}
span.col1 {
	color: rgb(0, 95, 97);
}
span.col2 {
	color: rgb(0, 95, 97);
}
.head_container a {
	color: white; text-decoration: none;
}
.ca-two-input {
	width: 100%; display: table;
}
.ca-left {
	width: 50%; text-align: center; vertical-align: bottom; display: table-cell;
}
.ca-right {
	width: 50%; text-align: center; vertical-align: bottom; display: table-cell;
}
.home_form .ca-i-deco input {
	width: 40%;
}
.home_region_form .ca-i-deco input {
	width: 40%;
}
input {
	font-size: 16px;
}
select {
	font-size: 16px;
}
#kbcontent {
	padding-top: 10px;
}
div.Form {
	margin: 5px; padding: 5px; overflow: hidden;
}
.label {
	padding: 2px;
}
div.fsbmit {
	text-align: center;
}
.ca-login-block {
	text-align: center;
}
.ca-login-block .ca-i-deco {
	width: 100%;
}
.ca-login {
	width: 100%;
}
.ca-pwd-block {
	width: 100%; display: table;
}
.ca-pwd-block .left {
	width: 50%; padding-top: 16px; padding-left: 6px; vertical-align: middle; display: table-cell;
}
.ca-pwd-block .right {
	width: 50%; text-align: right; padding-right: 2px; display: table-cell;
}
.ca-pwd-block .ca-i-deco {
	width: 80%;
}
.ca-pwd-field {
	width: 100%; background-color: rgb(255, 255, 255);
}
.virtualKeyboard table {
	width: 100%;
}
.virtualKeyboard table td {
	text-align: center;
}
.gridNumber {
	width: 50px; height: 50px;
}
@media screen and (max-width:1023px)
{
.aside_title_cover {
	position: relative;
}
.aside_cover {
	transition:opacity 0.3s linear; left: 0px; top: 48px; width: 100%; height: 100%; position: absolute; z-index: 1; opacity: 0; transform: translate3d(0px, 0px, 1px); background-color: black; -webkit-transition: opacity .3s linear; -webkit-transform: translate3d(0, 0, 1px);
}
.aside_header_cover {
	transition:opacity 0.3s linear; left: 0px; top: -7px; width: 100%; height: 50px; position: absolute; z-index: 1; opacity: 0; transform: translate3d(0px, 0px, 1px); background-color: black; -webkit-transition: opacity .3s linear; -webkit-transform: translate3d(0, 0, 1px);
}
}
@media all and (max-width:260px)
{
.account_navlink {
	text-align: center;
}
.account_navlink .nav_button_left {
	margin-right: 5px; margin-left: 5px;
}
.account_navlink .account_info_navlink {
	margin-right: 5px; margin-left: 5px; float: none;
}
}
