@font-face {
	font-family: wope;
	src: url(/widgets/wope_normal.ttf);
	font-weight: normal;
}
#bk-overlay {
	background-color: rgb(0, 0, 0);
}
#overlay {
	background-color: rgb(0, 0, 0);
}
.bkCalBtn {
	background-image: url("/img/calendar_open_btn.png"); background-size: 34px 20px; -webkit-background-size: 34px 20px;
}
table.bkCal {
	background-color: rgb(238, 238, 238);
}
table.bkCal thead th {
	font-weight: normal;
}
.bkCalHead {
	color: black; background-color: rgb(184, 202, 250);
}
li.bkCalTitle {
	font-weight: bold;
}
li.bkCalClose {
	color: rgb(46, 109, 212); font-family: "wope",arial,sans-serif; text-shadow: 0px 1px 0px #fff;
}
li.bkCalMonthNavNext {
	color: rgb(46, 109, 212); font-family: "wope",arial,sans-serif; text-shadow: 0px 1px 0px #fff;
}
li.bkCalMonthNavPrev {
	color: rgb(46, 109, 212); font-family: "wope",arial,sans-serif; text-shadow: 0px 1px 0px #fff;
}
table.bkCal tr.bkCalWeekDays th {
	border: 0px currentColor; border-image: none; color: white; background-color: rgb(46, 109, 212);
}
table.bkCal tbody td {
	border: 1px solid rgb(238, 238, 238); border-image: none; background-color: white;
}
table.bkCal tbody td.bkCalWeekend {
	background-color: rgb(236, 238, 252);
}
table.bkCal tbody td.bkCalToday {
	color: rgb(46, 109, 212); background-color: rgb(210, 226, 252);
}
table.bkCal tbody td.bkCalOtherMonth {
	color: rgb(221, 221, 221);
}
table.bkCal tbody td.bkCalSelectedDay {
	color: rgb(46, 109, 212); background-color: rgb(255, 204, 153);
}
.bk-carousel {
	padding: 5px 14px;
}
.bk-carousel .bk-slider {
	text-align: center;
}
.bk-carousel .bk-btn {
	margin: 2px 5px; border-radius: 5px; border: 1px solid rgb(79, 82, 85); border-image: none; width: 30px; height: 30px; text-align: center; color: rgb(79, 82, 85); line-height: 30px; font-family: "wope",arial,sans-serif; font-size: 2em; -webkit-border-radius: 5px;
}
.bk-carousel .bk-btn-off {
	border-color: rgb(221, 221, 221); color: rgb(221, 221, 221);
}
.bk-carousel .bk-bullets span {
	padding: 0px 3px; width: 19px; height: 30px; color: rgb(221, 221, 221); line-height: 30px; font-size: 2em; text-shadow: 0px -1px 0px rgba(0,0,0,0.35);
}
.bk-carousel .bk-bullets span.bk-active {
	color: rgb(79, 82, 85); font-size: 2.1em; text-shadow: 0px 0px 0px rgba(0,0,0,0.35);
}
.bk-carousel .bk-bullets span.bk-numbers {
	top: -0.2em; width: auto; color: black; font-size: 1em; position: relative;
}
.bk-coverflow {
	margin-top: 5px; margin-bottom: 15px;
}
.bk-coverflow .shadow {
	background-image: url("/img/bk-coverflow-shadow.png");
}
.bk-coverflow .bk-bullets span {
	padding: 0px 3px; width: 19px; height: 30px; color: rgb(221, 221, 221); line-height: 30px; font-size: 2em; text-shadow: 0px -1px 0px rgba(0,0,0,0.35);
}
.bk-coverflow .bk-bullets span.bk-active {
	color: rgb(79, 82, 85); font-size: 2.1em; text-shadow: 0px 0px 0px rgba(0,0,0,0.35);
}
.bk-coverflow .bk-bullets span.bk-numbers {
	top: -0.2em; width: auto; color: black; font-size: 1em; position: relative;
}
.bk-coverflow .bk-btn {
	margin: 2px 5px; border-radius: 5px; border: 1px solid rgb(79, 82, 85); border-image: none; width: 30px; height: 30px; text-align: center; color: rgb(79, 82, 85); line-height: 30px; font-family: "wope",arial,sans-serif; font-size: 2em; -webkit-border-radius: 5px;
}
th.bk-sort-header {
	padding-top: 10px; padding-bottom: 10px; text-shadow: 0px 1px 0px #fff;
}
table th.bk-sort-header::after {
	border-width: 0px 4px 4px; border-style: solid; border-color: rgb(64, 64, 64) transparent; margin-top: 7px; float: right; visibility: hidden; content: "";
}
table th.bk-sort-header:hover::after {
	visibility: visible;
}
table th.bk-sort-header:hover::after {
	visibility: visible;
}
table th.bk-sort-disabled.bk-sort-header:hover::after {
	visibility: hidden;
}
table th.bk-sort-up::after {
	visibility: visible; opacity: 0.4;
}
table th.bk-sort-down::after {
	visibility: visible; opacity: 0.4;
}
table th.bk-sort-down:hover::after {
	visibility: visible; opacity: 0.4;
}
table th.bk-sort-down::after {
	border-width: 4px 4px 0px; border-bottom-color: currentColor; border-bottom-style: none;
}
